#footer
  div Copyright © Ninja Store #{+new Date().getFullYear()} 
  a(href='/page?name=about') About 
  | |  
  a(href='/page?name=contact') Contact Us
  if username
    | |  
    a(href='/items') Items