extends layout

block content
    #container
        #logo
            a(href='/')
                img(src='/images/logo.png')
        #display
            p!= content
            
        block footer